body{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: lightcoral;

}

.heart{
    background: red;
    position: relative;
    height: 100px;
    width: 100px;
    /*animation*/
    transform: rotate(-45deg);scale: (1);
    animation: pulse 2s linear infinite;

}
